html {
    background-image: url('pictures/fail.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #B48C95;
}

.btn {
    align-self: center;

    width: 200px;
    height: 150px;

	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
    outline: none;
}

#fail {
    background-image: url('pictures/back\ to\ timer.png');

    background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	right: 15%;
	top: 70%;
}

#logo {
	height: 50px;
	width: 50px;
	position: absolute;
	left: 25px;
	bottom: 25px;
	background-image: url('pictures/nala.png');
	background-size: cover;
	background-repeat: no-repeat;
}