html {
    background-image: url('pictures/Fail.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #B48C95;
}

.btn {
    align-self: center;

    width: 100%;
    height: 100%;

	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
    outline: none;
}

#fail {
    background-image: url('pictures/back\ to\ timer.png');
    background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	right: 55%;
	top: 40%;
}