html {
	background-image: url('pictures/welcome.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #DDC39C;
}

.btn {
	align-self: center;

	width: 200px;
	height: 200px;

	font-size: 30px;

	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
    outline: none;
}

#tabby {
    background-image: url('pictures/Tabby.png');
    background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	right: 55%;
	top: 40%;
}

#black {
	background-image: url('pictures/Black.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	right: 55%;
	top: 40%;
}
#fluffy {
    background-image: url('pictures/Fluffy.png');
    background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	left: 55%;
	top: 40%;
}

#logo {
	height: 50px;
	width: 50px;
	position: absolute;
	left: 25px;
	bottom: 25px;
	background-image: url('pictures/nala.png');
	background-size: cover;
	background-repeat: no-repeat;
}
