html {
    background-color: #9A8462;
}

.btn {
    align-self: center;

    width: 200px;
    height: 150px;

	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
    outline: none;
}

#success {
    background-image: url('pictures/back\ to\ timer\ 2.png');
    background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	right: 15%;
	top: 70%;
}

#logo {
	height: 50px;
	width: 50px;
	position: absolute;
	left: 25px;
	bottom: 25px;
}