html {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
	background-repeat: no-repeat;
    background-color: #9A8462;
}

.btn {
    align-self: center;

    width: 200px;
    height: 150px;

	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
    outline: none;
}

#success {
    background-image: url('pictures/back\ to\ timer\ 2.png');
    background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	right: 15%;
	top: 70%;
}

#logo {
	height: 50px;
	width: 50px;
	position: absolute;
	left: 25px;
	bottom: 25px;
}

#image {
	width: 75%;
	padding-left: 12%;
}

#clickme {
	margin-left: 15%;
	background-color: #7c8c73;
	color: #F2E1C6;
	border-color: #F2E1C6;
	font-size: 30px;
	font-family: permanent marker;
}
