html {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
	background-repeat: no-repeat;
    background-color: #9A8462;
}

.btn {
    align-self: center;

    width: 200px;
    height: 150px;

	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
    outline: none;
}

#success {
    background-image: url('pictures/Back\ to\ timer.png');
    background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	right: 15%;
	top: 70%;
}

#logo {
	height: 50px;
	width: 50px;
	position: absolute;
	left: 25px;
	bottom: 25px;
	background-image: url('pictures/nala.png');
	background-size: cover;
	background-repeat: no-repeat;
}

#image {
	width: 75%;
	padding-left: 12.5%;
}

#clickme {
	background-image: url('pictures/Reveal.png');
	font-size: 30px;
	align-self: center;
	

    width: 350px;
    height: 100px;

	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
    outline: none;
}
